.shop {
    width: 98%;
    height: 81vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 10px;
    overflow-y: scroll;
    margin: 10px auto;
}

.leftShop,
.rightShop {
    width: 100%;
    height: 100%;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.leftShop {
    padding: 10px;
    position: relative;
}

.leftShop h4 {
    padding: 10px;
}

.ico {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    transition: all 0.1s;
    cursor: pointer;
    background: linear-gradient(50deg, #d15f72, #ecaa72);
    color: #fff;
}

.ico:hover {
    background: rgba(0, 0, 0, 0.1);
}

.searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.catagories {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.catagories span {
    padding: 0px 10px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
}

.catagories select {
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 0px;
    padding: 15px;
}

.rightShop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}

.rightShop .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
    background: #fff;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.card img {
    width: auto;
    height: 400px;
}

.card span {
    color: green;
}

.card .cutprice {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4);
}

.card:hover {
    box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.4);
}

/* styles.module.css */
.cardSkeleton {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    animation: cardSkeletonAnimation 1s ease-in-out infinite;
}

@keyframes cardSkeletonAnimation {
    0% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }
}

.imageSkeleton {
    height: 200px;
    background-color: #ddd;
    border-radius: 4px;
    margin-bottom: 16px;
    animation: imageSkeletonAnimation 1s ease-in-out infinite;
}

@keyframes imageSkeletonAnimation {
    0% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }
}

.contentSkeleton {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titleSkeleton {
    height: 20px;
    width: 80%;
    background-color: #ddd;
    animation: titleSkeletonAnimation 1s ease-in-out infinite;
}

@keyframes titleSkeletonAnimation {
    0% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }
}


.priceSkeleton {
    height: 16px;
    width: 60%;
    background-color: #ddd;
    animation: priceSkeletonAnimation 1s ease-in-out infinite;
}

@keyframes priceSkeletonAnimation {
    0% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }
}

.descriptionSkeleton {
    height: 40px;
    width: 50%;
    background-color: #ddd;
    animation: descriptionSkeletonAnimation 1s ease-in-out infinite;
}

@keyframes descriptionSkeletonAnimation {
    0% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.7;
    }
}

@media only screen and (max-width: 768px) {
    .shop {
        grid-template-columns: 1fr;
    }

    .leftShop {
        display: none;
    }

    .rightShop {
        grid-template-columns: 1fr;
    }
}