.hero{
    width: 95%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background: linear-gradient(50deg, #a93d90, #8026b8, #4c1b72, #d15f72, #ecaa72);
    margin: 10px auto;
    overflow: hidden;
    border-radius: 10px;
}
.left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    padding: 20px;
    padding-top: 150px;
}
.left span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: min-content;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 35px;
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(90px);
}
.left h1{
    font-size: 4rem;
    font-weight: 700;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right img{
    mix-blend-mode: multiply;
    height: 100%;
}
/* .offerIco{
    width: 30%;
    height: 30%;
} */